:root {
    --fs-s: 14px;
    --fs-ss: 16px;
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 25px;
    --fs-xl: 25px;
    --fs-2xl: 40px;
    --fs-3xl: 30px;
    /* ======color===== */
    --clr-white: #ffffff;
    --clr-red: #FF0000;
    --clr-yellow: #FFD600;
    --clr-black: #000000;
    --clr-bisque: #F7F2E4;
    --clr-green: #00A106;
    --clr-brown: #70675F;
    --clr-cream: #D1C9C2;
    --clr-blackShadaw: #00000040;
}

.color-blackShadaw {
    color: var(--clr-blackShadaw);
}

.color-cream {
    color: var(--clr-cream);
}

.color-brown {
    color: var(--clr-brown);
}

.color-green {
    color: var(--clr-green);
}

.color-bisque {
    color: var(--clr-bisque);
}

.color-black {
    color: var(--clr-black);
}

.color-yellow {
    color: var(--clr-yellow);
}

.color-red {
    color: var(--clr-red);
}

.color-white {
    color: var(--clr-white);
}

.text14-s {
    font-size: var(--fs-s);
}

.text16-ss {
    font-size: var(--fs-ss);
}

.text18-sm {
    font-size: var(--fs-sm);
}

.text24-md {
    font-size: var(--fs-md);
}

.text36-lg {
    font-size: var(--fs-lg);
}

.text72-xl {
    font-size: var(--fs-xl);
}

.text80-2xl {
    font-size: var(--fs-2xl);
}

.text157-3xl {
    font-size: var(--fs-3xl);
}

@media (min-width:576px) {
    :root {
        --fs-3xl: 80px;
        --fs-xl: 40px;
        --fs-2xl: 60px;
    }
}

@media (min-width:768px) {
    :root {
        --fs-3xl: 100px;
        --fs-lg: 30px;
    }
}

@media (min-width:992px) {
    :root {
        --fs-s: 14px;
        --fs-ss: 16px;
        --fs-sm: 18px;
        --fs-md: 24px;
        --fs-lg: 36px;
        --fs-xl: 65px;
        --fs-2xl: 80px;
        /* --fs-3xl: 100px; */
    }
}

@media (min-width:1200px) {
    :root {
        --fs-xl: 72px;
        --fs-3xl: 157px;
    }
}